$base-font-size     : 1em;
$base-text-color    : #000000;
$base-link-color    : #000000;
$base-hdr-color     : #000000;
$base-line-height   : 1.3;

/* Breakpoints */
$breakpoint-small : 600px;
$breakpoint-large : 960px; 

/* Fonts */
$font-primary:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary:  "Georgia", Cambria, Times New Roman, Times, serif;