/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet
******************************************************************/


// import normalize
@import "normalize";

// import mixins
@import "mixins";


/* =Variables, Mixins etc...
-------------------------------------------------------------------------------------------------------------------- */
$base-font-size     : 1em;
$base-text-color    : #000000;
$base-link-color    : #000000;
$base-hdr-color     : #000000;
$base-line-height   : 1.3;

/* Breakpoints */
$breakpoint-small : 450px;
$breakpoint-large : 960px; 

/* Fonts */
$font-primary:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary:  "Georgia", Cambria, Times New Roman, Times, serif;



/* = Base
-------------------------------------------------------------------------------------------------------------------- */
@import 'base';


/* = Grid
-------------------------------------------------------------------------------------------------------------------- */
@import 'grid';




/* = Header
-------------------------------------------------------------------------------------------------------------------- */

@import 'header';


/* = Main Navigation
-------------------------------------------------------------------------------------------------------------------- */
@import 'main-navigation';



/* = Templates
-------------------------------------------------------------------------------------------------------------------- */



/* = Footer
-------------------------------------------------------------------------------------------------------------------- */
@import 'footer';



/* = Print
-------------------------------------------------------------------------------------------------------------------- */

@import 'print';
